<% include sidebar %>
<section id="main-content">
  <section>
  <div class="container-fluid">
  <div class="container formcontainer">
  <div class="col-md-12 marginadjusthead">
      <h1 class="advertise">Submit Entry</h1>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Your Name</b></h4></div>
        <div class="col-md-6 token"><h4>abcd</h4></div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Your E-mail</b></h4></div>
        <div class=" col-md-6 token"><h4>abc@gmail.com</h4></div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Event Name</b></h4></div>
        <div class=" col-md-6 token"><h4>hello</h4></div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Project Website<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: http://www.google.com (please include http:// or https://)*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Dates not defined yet - TBA </b></h4></div>
        <div class=" col-md-6 token">
         <%/*<input type="checkbox">*/%>
         <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Start<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="date" style="width:300px"><span style="padding-left:10px;"><i>Please set time in UTC</i></span>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>End<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="date" style="width:300px"><span style="padding-left:10px;"><i>Please set time in UTC</i></span>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Project Category<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<select style="width:300px">
        <option>Finance</option>
        <option>Mining</option>
        <option>Data Analyst</option>
        <option>Gambling</option>
        </select>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Project Type<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<select style="width:300px">
        <option>Blockchain</option>
        <option>Asset/text-center token</option>
       
        </select>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Platform</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<select class="form-control selectbox" style="width:300px;margin-bottom:0px;"></select>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>text-center token/Coin Name<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>Maximum 255 charactrers*/%>
        <h4>hello</h4>
        </div>
      </div>

      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Symbol<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><span style="padding-left:10px;">Maximum 10 charactrers</span>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Total Supply<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><span style="padding-left:10px;">e.g.: 100000000.99</span>*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Link to logo<span class="asterisk">*</span></b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>Maximum 255 charactrers<br><input type="file" accept="image/png, application/pdf" />*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Link to Whitepaper</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: http://www.google.com/paper (please include http:// or https://)*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Twitter</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: http://www.twitter.com/your-name (please include http:// or https://)*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Reddit</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: http://www.reddit.com/r/your-name (please include http:// or https://)*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Slack</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://your-team.slack.com*/%>
        <h4>hello</h4>
        </div>
      </div>
      <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Bitcointalk Announcement Thread</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>hello</h4>
        </div>
      </div>

<%/*<div class="panel">
<h2>Team</h2>

<div class="formhandler">
<div class="panel-heading">
<h4 class="teamheading">Team Members</h4>
<span class="fa fa-times"></span>
</div>
<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Full Name<span class="asterisk">*</span></h4></div>
<div class="col-md-4"><input type="text" class="form-control" placeholder="Full Name"></div>
<div class="col-md-2"></div>

</div>

<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Picture<span class="asterisk">*</span></h4></div>
<div class="col-md-4"><input class="form-control" type="file" accept="image/png, application/pdf" /></div>
<div class="col-md-2"></div>

</div>

<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Position<span class="asterisk">*</span></h4></div>
<div class="col-md-4"><input type="text" class="form-control" placeholder="Position"></div>
<div class="col-md-2"></div>

</div>

<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Short Bio<span class="asterisk">*</span></h4></div>
<div class="col-md-4"><input type="text" class="form-control" placeholder="Short Bio"></div>
<div class="col-md-2"></div>

</div>

<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Linkedin</h4></div>
<div class="col-md-4"><input type="text" class="form-control" placeholder="linkedin link"></div>
<div class="col-md-2"></div>

</div>

<div class="col-md-12 marginadjust marginadjust">
<div class="col-md-2"><h4 class="teamhtag">Upload ID (Passport)</h4></div>
<div class="col-md-4"><input class="form-control" type="file" accept="image/png, application/pdf" /></div>
<div class="col-md-2"></div>

</div>
</div>
</div>

<button class="btn btn-lg nextbutton addmember" id="addmember"><b>Add Team Member</b></button>
<div>
<button class="btn btn-lg nextbutton addmember col-md-6 back"><b>BACK</b></button>
<button class="btn btn-lg nextbutton addmember col-md-6 next"><b>NEXT-PAYMENT</b></button>
</div>*/%>
</div>

</div>
<div class="container teamcontainer">
<h2>Team Members</h2>
 <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Full Name</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>Rahul Gupta</h4>
        </div>
      </div>
       <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Picture</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>hello</h4>
        </div>
      </div>
       <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Position</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>Senior Developer</h4>
        </div>
      </div>
       <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Short Bio</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>hello</h4>
        </div>
      </div>
       <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Linkedin</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>hello</h4>
        </div>
      </div>
       <div class="col-md-12 marginadjust">
        <div class="col-md-6"><h4><b>Upload ID (Passport)</b></h4></div>
        <div class=" col-md-6 token">
        <%/*<input type="text" style="width:300px"><br>e.g.: https://bitcointalk.org/your-topic*/%>
        <h4>hello</h4>
        </div>
      </div>
</div>
</div>

  </section>
  </section>