 
      <div class="container-fluid py-2">
        <!-- class="list-inline-item" -->
        <div class="container">
        <div class="row">
          <div class="col-md-2 mt-3">
            <!-- <ul class="list-inline m-0 text-md-left text-center">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul> -->
          </div>
          <div class="col-md-4 mt-3 text-center">
          <h2>Shortcuts</h2>
            <ul class="list-inline m-0 text-md-left text-center">
              <li class="text-center" style="padding:5px;"><a href="#">Website</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Home</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">About</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Submit Entry</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Advertise</a></li>
            </ul>
          </div>
          <div class="col-md-4 mt-3 text-center">
          <h2>Terms & Conditions</h2>
            <ul class="list-inline m-0 text-md-left text-center">
              <li class="text-center" style="padding:5px;"><a href="#">Terms</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Disclaimer</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Privacy Policy</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Cookie Policy</a></li>
            </ul>
          </div>
          <div class="col-md-2 mt-3">
            <!-- <ul class="list-inline m-0 text-md-left text-center">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul> -->
          </div>
        </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 floater"><p class="text-left">*All rights reserved www.sample.com 2018 </p></div>
          <div class="col-md-6 text-right floater">
             <ul class="socialicons list-inline m-0 text-right pr-2">
              <li class="list-inline-item"><a href="#"><img src="img/skype.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/tel.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/twit.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/fb.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/reddit.png"></i></a></li>
            </ul>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
