<!DOCTYPE html>
<html lang="en">

<%- include menu %>
<section>
<div class="container-fluid">
<div class="container listingcontainer">
<table>
<tbody>
<tr>
<td><h4>Manage Listings</h4></td>
<td><button class="btn btn-md listingbutton">Add</button></td>
</tr>
</tbody>
</table>

<table class="table table-bordered listing">
  <thead>
    <tr>
      <th>Sr No</th>
      <th>Name</th>
      <th>Submit Event Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Grading</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td class="padder">1</td>
    <td class="padder">Rahul</td>
    <td class="padder">Testing</td>
    <td class="padder">14/02/2018</td>
    <td class="padder">20/02/2018</td>
    <td class="padder">Incomplete</td>
    <td class="padder">Incomplete</td>
  </tr>
  <tr>
    <td class="padder">2</td>
    <td class="padder">Rahul</td>
    <td class="padder">Testing</td>
    <td class="padder">14/02/2018</td>
    <td class="padder">20/02/2018</td>
    <td class="padder">Incomplete</td>
    <td class="padder">Incomplete</td>
   
   
  </tr>
  </tbody>
</table>

</div>
</div>
</section>
 <footer>
  <%- include footer %>
    </footer>


    </body>
    </html>