<!DOCTYPE html>
<html lang="en">

<%- include menu %>
<section>
<div class="container-fluid">
<div class="container profilecontainer">
<div class="col-md-12"><h1 class="profileheading">User Profile</h1></div>
    <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4">User Name</h4></div>
        <div><input type="text" class="form-control inputform" value="<%=details.fname%>" placeholder="User Name"></div>
        </div>
        
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4">Email Address</h4></div>
        <div><input type="email" class="form-control inputform" value="<%=details.email%>" placeholder="Email Address"></div>
        </div>
       
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4">Change Password</h4></div>
        <div><input type="text" class="form-control inputform" placeholder="Current Password"></div>
        </div>
        
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4"></h4></div>
        <div><input type="text" class="form-control inputform" placeholder="New Password"></div>
        </div>
       
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4"></h4></div>
        <div><button class="btn btn-lg profilebutton">Update</button></div>
        </div>
       
      </div>

      <div class="col-md-12">
        <div class="col-md-6" style="padding:0px;">
        <div><h4 class="formh4"></h4></div>
        <!-- <div><a class="forgot" href="/reset">Forgot password? Send a password reset link</a></div> -->
        </div>
       
      </div>
</div>
</div>
</section>
 <footer>
  <%- include footer %>
    </footer>


    </body>
    </html>