<!DOCTYPE html>
<html lang="en">

<%- include menu %>


<section>
<div class="container-fluid">
<div class="container resetcontainer">
<div class="col-md-12"><h1 class="resetheading text-center">Reset Your Password</h1></div>
    <div class="col-md-12 marginadjust">
        
        <div>
        <div><input type="email" class="form-control inputform resetemail" placeholder="Enter Email"></div>
        </div>
        
      </div>

      <div class="col-md-12 marginadjust">
        
       
        <div class="text-center"><button class="btn btn-lg resetemail resetbutton">Reset Password</button></div>
        
        
      </div>
</div>
</div>
</section>
<footer>
  <%- include footer %>
    </footer>
    </body>
    </html>