<!DOCTYPE html>
<html lang="en">
<%- include menu %>

<div class="container-fluid advertisepart submitform">
 
    <div class="col-md-12 form-group">
    <div class="col-md-12">
      <h1 class="advertise">Submit New Entry</h1>
      </div>
      <div class="col-md-12 note  marginadjust">
      <p>We charge a small fee of 0.02 BTC to activate your basic listing in order to prevent spam and make sure you are submitting a serious project.</p>
       <p>You will be able to make changes to the information added here once your listing is live.</p>
      </div>

      <form class="form-signin" method="post" action="/eventform">
      <div class="col-md-12 marginadjust">
        <div class="col-md-12" style="padding:0px;">
        <div><h4 class="formh4">Your Name<span class="asterisk">*</span></h4></div>
        <div><input type="text" class="form-control inputtag" name="name" placeholder="Your Name" style="margin-bottom:0px"></div>
        </div>
        <div class="col-md-12"></div>
      </div>

      <div class="col-md-12 marginadjust">
        <div class="col-md-12" style="padding:0px;">
       <div><h4 class="formh4">Your Email<span class="asterisk">*</span></h4></div>
      <div><input type="email" class="form-control inputtag" name="email" value="<%=email%>" style="margin-bottom:0px"></div>
        </div>
        <div class="col-md-12"></div>
      </div>

      <div class="col-md-12 marginadjust">
        <div class="col-md-12" style="padding:0px;">
       <div><h4 class="formh4">Your Event<span class="asterisk">*</span></h4></div>
      <div><input type="text" class="form-control inputtag" id="inputtagemail" name="event" placeholder="Event" style="margin-bottom:0px">
       <span class="tagline">E.g. MyCompany ICO</span>
       </div>
     
        </div>
        <div class="col-md-12"></div>
      </div>

      <div class="col-md-12 marginadjust">
      <div class="col-md-12" style="padding:0px;">
          <div><h4 class="formh4">Tell us about your project (this will be shown in your listing)</h4></div>
       <div><textarea class="form-control inputtag" name="aboutpro" rows="10" id="comment" placeholder="More Information" style="margin-bottom:0px"></textarea>
       <span class="tagline">Maximun 256 characters</span>
       </div>
       </div>
        <div class="col-md-12"></div>
      </div>

       <div class="col-md-12 marginadjust">
      <div class="col-md-12" style="padding:0px;">
          <div class="checkbox" style="margin-bottom: 5px;">
          <label>
          <input type="checkbox" onchange="checkbox()" id="responsible" name="crwfmember" style="margin-bottom:0px">
          <span class="verificationinfo">I am a team member of this Crowdfund</span>
        </label></div>        
       
       </div>
       </div>
        <div class="col-md-12"></div>
      </div>

    

      <div class="col-md-12">
      <div class="col-md-12">
            <button type="submit" class="btn btn-lg nextbutton"><b>NEXT - Advanced Information</b></button>
            </div>
        <div class="col-md-12"></div>
      </div>
     </form>
      </div>

    

    <script>
        function checkbox(){
          if($("#responsible").prop('checked') == true){
           
            $("#responsible").val("true");
        }else{
          
          $("#responsible").val("");
        }
        }
      </script>

        <footer>
    <%- include footer %>
    </footer>
     <%/*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/menu.js"></script>*/%>
<script src="js/submit.js"></script>
    </body>
    </html>
