@font-face{

	src: url(/fonts/OregonLDOBold.ttf);
    font-family: 'C';
    src: url(/fonts/OregonLDOCondensedBold.ttf);
    font-family: 'D';
   
}
header{border-bottom:1px solid #eeeeee;}
.label{color:#666666;font-family: 'D';font-size:20px;font-weight:700;}
.contactform{padding-top:20px;min-height:600px;background-image: radial-gradient(ellipse, white, transparent 70%);background-color:#e8ecee;}
.h1tag{color:#666666 !important;font-weight:700;font-size:2em;margin-bottom:20px;font-family: 'C';}
.textareaformcontrol{margin-bottom:0px !important;}
:focus {
    outline: 0;
    }
    .hello a{color: #ff7800 !important;}
.clear{clear:both;}
.registrationlinks{padding-top:10px;}
form{width: 100%;max-width: 700px;display: inline-block;margin-bottom: 15px;margin:0 auto;padding-top:0px !important;}
.form-group input{height:30px;}
  .form-control{background-color:transparent;margin-bottom:30px;}
  /*  .form-group button{width:100%;background-color: #34495e;
    border-color: #34495e;
    color: #fff;
    border-radius: 3px;
    padding: 7px 15px 7px 15px;
    font-size: 14px;
    cursor: pointer;}*/
    .submitbutton{border-radius:5px;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;color:#666666; font-family: 'D';letter-spacing:1px;}
    .form-group a{color:#6666 !important;font-size:19px;}
    .floater{float:left;}
    .divspacing{margin-bottom:30px;}
 @media screen and (max-width:767px){
        .floater p{text-align:center !important;}
    }