/*==========================================
==== This Page is Developed BY M.Ibrahim
==== URL: fiverribrahm.000webhostapp.com
==== Profile: fiverr.com/ibrahm; 
==========================================*/
@font-face{

	src: url(../fonts/OregonLDOBlack.ttf);
	font-family: 'C';
	src: url(../fonts/OregonLDOLight.ttf);
	font-family: 'D';
	src: url(../fonts/OregonLDO.ttf);
	font-family: 'E';
}

body{
	font-family: 'C';
	color: #383838;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
 .navbar{
 	font-family: 'C',sans-serif;
 	font-weight: bold;
 	background: #fff;
 }
 .navbar-brand span{
 	color: #383838;
 	padding-left: 40px;
 	font-size: 30px;
 }
 .navbar-brand img{
 	height: 60px;
 }
 .navbar .nav-link, .navbar ul li a{

	 font-family: 'E';
 }
 .nav-link{color:#585858 !important;}

.navbar-light .navbar-toggler{padding:0px;}
.navbar-toggler-icon{font-size:20px !important;}
/*.navbar-nav{width:1000px;border:1px solid black;}*/
.navbar-nav{width:100%;}
.nav-item{width:20%;font-size:22px;text-align:center;}
.menufloater{float:left;}
 /* HEro Sectioin */
 .hero{
 	background: #e8ecee;
 	
 }
.upperheadertag{color:#666666;font-weight:700;font-family: 'C';padding-top:20px}
.pt-4 h4{font-family: 'C';}
.paragraph{color:#666666;}
 /* CTA */
 .CTA .txt{
 	border-bottom: 1px solid grey;
 	padding: 15px 30px;
 }
 .CTA .txt a.btn{
 	border-radius: 0;
 	padding: 15px 30px;
 }
.borderradius{border-radius:10px;overflow:hidden}

 /* TOKEN SECTION */
 .TOK a{
 	text-decoration: none;
 }
 .TOK .bx{
 	/* border: 1px solid #383838; */
	 padding: 20px;
	 background-color:#e8ecee;
 }
 .TOK .bx h4{
	color: #383838;
	font-weight: 400;

 }
 .TOK .bx p.small{
 	font-size: 12px;
 	color: #383839;
 }
 .TOK .st{
 	text-align: center;
 	background: #808080;
 	color: #fff;
	 padding:5px;
	 margin-bottom:0px;
 }
 .TOK .time{
 	width: 95%;
	 margin: auto;
	 padding-top:10px;

 }
 .TOK .time img{
 	width: 95%;
 	display: none;
 }

.TOK1 .bx{
	padding: 15px;
}
.TOK1 .bx img{
	max-width: 60px;
}
.TOK1 .bx h4{
	font-size: 18px;
}
 .TOK1 .bx p.small{
 	font-size: 9px;
 }

 @media( max-width: 576px){
 	.TOK .bx h4{
 		font-size: 28px;
 	}
 	.TOK .bx p.small{
 		font-size: 14px;
 	}
 	.TOK1 .bx img{
 		max-width: 90px;
 		margin-top: 10px;
 	}
 }
  @media( max-width: 480px){
 	.TOK .bx h4{
 		font-size: 28px;
 	}
 	.TOK .bx p.small{
 		font-size: 12px;
 	}
 	.TOK1 .bx img{
 		max-width: 70px;
 		margin-top: 10px;
 	}
 }


 footer{
 	background: #2b2b2b;

	 color: #fff;
	 font-family: 'E';
 }
 footer ul li a{
	 color:  #fff;
	 font-family: 'E';
 }

 .floater{float:left;}
	@media screen and (max-width:1030px) and (min-width:768px){
	.navbar-brand{margin-bottom:50px;}
	.navbar-nav{position:absolute;right:0px;border:1px solid #eeeeee;top:85px;}
}
  @media screen and (max-width:767px){
 	.px-5{padding-right:0px !important;}
 	.pr-2{padding-right:0px !important;}
 	.socialicons{text-align:center !important;}
 	.navbar-brand img{width:290px !important;}
 	.navbar{padding-left:0px !important;}
 	.mobilemenu{text-align:center !important;}
 	.navbar-light .navbar-toggler{position:absolute;right:10px;top:25px;}
 	 .floater p{text-align:center !important;}
 	 .navbar-nav li{width:100%;}
 }